<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @post.text %>
</p>


<%= link_to 'sexy BACK', posts_path %>
<%= link_to "Edit this mofo", edit_post_path(@post.id) %>